/* public/css/app.css */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    font-family: 'Inter', sans-serif !important;
    color: #1B1C1E;
}

html {
    scroll-behavior: smooth;
}

.about-us-hero {
    min-height: 724px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 40%;
    position: relative;
    background-image: url('../storage/images/hero.png');
}

@media (max-width: 576px) {
    .about-us-hero {
        min-height: 924px;
        background-image: url('../storage/images/hero-mobile.png');
    }
}

.about-us-hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
}

.about-us-hero .content, .about-us-hero .buttons-container {
    position: relative;
    z-index: 2;
}

.about-us-hero .links-container {
    margin-top: 11.8125rem;
    max-width: 1000px;
}

.about-us-hero .contacts-container {
    position: relative;
    z-index: 2;
    padding-top: 5.625rem;
}

.about-us-hero .contacts-container .contacts-info {
    background: rgba(0, 0, 0, .7);
    padding: 12px 16px;
    border-radius: 12px;
}

@media (max-width: 576px) {
    .about-us-hero .links-container {
        margin-top: 3.25rem;
    }
}

.carousel-item {
    height: calc(100vh + 1px);
    min-height: 300px;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    z-index: 3;
    max-width: 80%;
    width: 100%;
    padding-left: 10%;
}

.hero-text h1 {
    font-size: 92px;
    font-weight: 800;
    color: #fff;
}

.hero-text p {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .carousel-caption {
        padding: 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 16px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 16px;
        margin-top: 1.5rem;
    }

    .hero-buttons {
        width: 100vw;
        margin: 4rem 0;
    }

    .products-cards div {
        margin-top: 1rem;
    }

    #weOffer .btn-outline-orange {
        width: 100%;
        margin-top: 1.5rem;
        padding: 12px 0;
        font-size: 13px;
    }

    #playground .btn-orange-big, #video .btn-orange-big, #form .btn-orange-big, #weapons .btn-orange-big, #birthday .btn-orange-big {
        width: 100%;
        margin-top: 1.5rem;
    }
}

.carousel-control-prev, .carousel-control-next {
    z-index: 4;
}

#video h2 {
    font-size: 28px;
    font-weight: 700;
}

.video-container iframe {
    border-radius: 12px;
}

@media (max-width: 576px) {
    .video-container, #video .info-container > div {
        display: flex;
        justify-content: center;
    }

    #video .info-container .video-info {
        width: 480px;
    }
}

footer {
    margin-top: 10rem;
    background-color: #1B1C1E;
}

footer ul {
    list-style-type: none;
}

footer li {
    color: #E5E7EB;
    font-size: 16px;
    margin-bottom: .4rem;
}

footer li.title {
    color: #7A7C80;
}

footer .link {
    color: #E5E7EB;
}

.modal-content {
    border-radius: 16px;
}

.modal-body {
    padding: 0 56px;
}

@media (max-width: 576px) {
    .modal-body {
        padding: 0 1rem;
    }
}

.modal-body h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -.02em;
}

.modal-body p, .modal-body label {
    color: #5B5E63;
}

.modal-dialog {
    max-width: 610px;
}

.modal-header, .modal-footer, .modal-content {
    border: none;
}

.alert {
    position: fixed;
    top: 3.2rem;
    right: 2rem;
}

.rounded-image {
    border-radius: 12px;
}

.full-width {
    background-repeat: no-repeat;
    background-position: center;
}

.about-us-title {
    font-size: 28px;
    font-weight: 700;
}
