#form .contact-form {
    padding: 4rem 12rem 4rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    #form .contact-form {
        padding: 2rem 1rem;
    }
}

#form .contact-section {
    background-color: #F3F4F6;
    display: flex;
    flex-wrap: wrap;
}

#form .contact-section img {
    width: 100%;
    height: auto; /* Allow image height to adapt to its container */
    object-fit: cover;
}

#form .contact-form > div,
#form .contact-form > form,
#form .contact-form > button {
    flex-shrink: 0;
    margin-bottom: 1rem;
}

#form .contact-form > form {
    flex-grow: 1;
}

@media (min-width: 768px) {
    #form .contact-section {
        height: 600px;
    }

    #form .contact-section img, .contact-form {
        height: 100%;
    }
}

#form .contact-form h2 {
    font-size: 28px;
    font-weight: 700;
}

#form .contact-form p, #form .contact-form label {
    font-size: 16px;
    font-weight: 500;
    color: #5B5E63;
}

#form a {
    color: #5B5E63 !important;
}

#form a:hover {
    color: var(--primary-color) !important;
}

form .text-danger {
    font-size: 12px;
    font-weight: 400;
}

::placeholder {
    color: #ADB5BD; /* Change this to the desired color */
    opacity: 1; /* Ensures the color applies fully in all browsers */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/* Vendor-specific prefixes for wider browser support */
::-webkit-input-placeholder {
    color: #ADB5BD;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

:-ms-input-placeholder {
    color: #ADB5BD;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

::-ms-input-placeholder {
    color: #ADB5BD;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
