.laser-tag-card {
    background-color: rgba(243, 244, 246, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 100%; /* Full width on mobile */
    margin-bottom: 1rem; /* Spacing between cards on mobile */
}

.laser-tag-card .icon {
    margin-bottom: 12px;
}

.laser-tag-card p {
    color: #fff;
}

.laser-tag-hero-text {
    margin-top: 4rem;
    text-align: center;
}

.laser-tag-hero-text h1 {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}

.laser-tag-hero-text p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.laser-tag-hero-price h2 {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

.laser-tag-hero-price p {
    font-size: 16px;
    text-align: center;
}

@media (min-width: 768px) {
    .laser-tag-card {
        width: 15rem; /* Original width on larger screens */
        margin-bottom: 0; /* Remove margin between cards on larger screens */
    }

    .laser-tag-hero-text {
        margin-top: 10rem;
        text-align: left;
    }

    .laser-tag-hero-text h1 {
        font-size: 64px;
    }

    .laser-tag-hero-text p {
        font-size: 20px;
    }

    .laser-tag-hero-price h2 {
        font-size: 72px;
    }

    .laser-tag-hero-price p {
        font-size: 20px;
    }
}

.laser-tag-cards {
    display: none;
}

.lt-cards-mobile {
    background-color: rgba(243, 244, 246, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    margin: -1rem 1.5rem;
    padding: .75rem .75rem;
}

.lt-cards-mobile span {
    margin-left: .75rem;
}

.laser-tag-hero-price .btn-orange-big {
    width: 90%;
}

@media (min-width: 768px) {
    .laser-tag-cards {
        display: flex;
        flex-direction: row; /* Align cards in a row on larger screens */
        justify-content: center;
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        padding: 0;
    }
    .laser-tag-hero-price .btn-orange-big {
        width: auto;
    }
}

.laser-tag-card .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.laser-tag-card .icon-container img {
    margin-right: 0.5rem;
}
