:root {
    --primary-color: #F26224;
    --primary-color-hover: #E74C04;
}

.btn-orange, .btn-orange-big {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-orange {
    padding: 8px 14px;
}

.btn-orange-big {
    padding: 12px 22px;
}

.btn-orange:hover, .btn-orange-big:hover {
    background-color: var(--primary-color-hover);
    color: #FFF;
}

.btn-orange:focus, .btn-orange-big:focus, .btn-outline-orange:focus, .btn-outline-orange-big:focus {
    box-shadow: none;
}

.btn-outline-orange, .btn-outline-orange-big {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 700;
    font-size: 13px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 576px) {
    .btn-outline-orange, .btn-outline-orange-big {
        background-color: #FFF;
    }
}

.btn-outline-orange {
    padding: 8px 14px;
}

.btn-outline-orange-big {
    padding: 12px 22px;
}

.btn-outline-orange:hover, .btn-outline-orange-big:hover {
    background-color: #FFF;
    color: var(--primary-color);
}


@media (max-width: 768px) {
    .btn-orange,
    .btn-outline-orange {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media (max-width: 576px) {
    .btn-orange,
    .btn-outline-orange {
        font-size: 11px;
        padding: 5px 10px;
    }
}

.text-title {
    font-size: 40px;
    font-weight: 700;
}

.text-title-2 {
    font-size: 28px;
    font-weight: 700;
}

.text-subtitle {
    font-size: 16px;
    font-weight: 500;
}

.card {
    border: none;
    background-color: #F3F4F6;
    border-radius: 12px;
}

.full-width {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.full-width .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the color and opacity as needed */
    z-index: 1;
}

.full-width .container {
    position: relative;
    z-index: 2;
}

.full-width h2 {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    color: #FFF;
}

.link {
    text-decoration: none;
    color: #5B5E63;
}

.link svg {
    width: 20px;
    margin-right: 8px;
}

.link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.link:hover svg path {
    fill: var(--primary-color);
}
