:root {
    --primary-color: #F26224;
    --primary-color-hover: #E74C04;
}

.btn-orange, .btn-orange-big {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-orange {
    padding: 8px 14px;
}

.btn-orange-big {
    padding: 12px 22px;
}

.btn-orange:hover, .btn-orange-big:hover {
    background-color: var(--primary-color-hover);
    color: #FFF;
}

.btn-orange:focus, .btn-orange-big:focus, .btn-outline-orange:focus, .btn-outline-orange-big:focus {
    box-shadow: none;
}

.btn-outline-orange, .btn-outline-orange-big {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 700;
    font-size: 13px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 576px) {
    .btn-outline-orange, .btn-outline-orange-big {
        background-color: #FFF;
    }
}

.btn-outline-orange {
    padding: 8px 14px;
}

.btn-outline-orange-big {
    padding: 12px 22px;
}

.btn-outline-orange:hover, .btn-outline-orange-big:hover {
    background-color: #FFF;
    color: var(--primary-color);
}


@media (max-width: 768px) {
    .btn-orange,
    .btn-outline-orange {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media (max-width: 576px) {
    .btn-orange,
    .btn-outline-orange {
        font-size: 11px;
        padding: 5px 10px;
    }
}

.btn-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-title {
    font-size: 40px;
    font-weight: 700;
}

.text-title-2 {
    font-size: 28px;
    font-weight: 700;
}

.text-subtitle {
    font-size: 16px;
    font-weight: 500;
}

.card {
    border: none;
    background-color: #F3F4F6;
    border-radius: 12px;
}

.card-custom {
    background: rgba(0, 0, 0, .7);
    border: 0.5px solid var(--primary-color);
    color: white;
    width: 217px;
    height: 136px;
    cursor: pointer;
}

.card-custom .card-body {
    padding: 16px 0;
}

.card-custom .card-title {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

@media (max-width: 576px) {
    .card-custom {
        width: 158px;
        height: 104px;
    }

    .card-custom .card-title {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }
}

.link {
    text-decoration: none;
    color: #5B5E63;
}

.link svg {
    width: 20px;
    margin-right: 8px;
}

.link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.link:hover svg path {
    fill: var(--primary-color);
}

.coverflow button:focus {
    outline: none !important;
    border: none !important;
}

.contacts-link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
}

.contacts-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.block-price h2 {
    font-size: 32px;
    font-weight: 500;
}

.block-price p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #5B5E63;
}
