#weOffer .card-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
}

#weOffer img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

@media (max-width: 768px) {
    #weOffer img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
    }
}
